:root {
    --clr-dark: #070a12;
    --clr-light: #ffffff;
    --clr-accent: #e11d48;
    --clr-lightRose: #fb7185;
    --clr-green: #4ade80;
    --clr-sky: #38bdf8;
    --clr-pink: #f472b6;
    --clr-violet: #a78bfa;
    --clr-yellow: #facc15;
    --clr-main: #3498DB;
    --clr-darkBlue: #2C3E50;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--clr-light);
    color: #333;
}

header {
    background-color: var(--clr-main);
    color: var(--clr-light);
    padding: 20px 0;
    text-align: center;
}

.logo{
    text-decoration: none;
    color: #333;
}

nav {
    background-color: var(--clr-darkBlue);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav a {
    color: var(--clr-light);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #1ABC9C; 
}

footer {
    background: var(--clr-main);
    color: var(--clr-light);
    padding: 30px 0;
    text-align: center;
}

footer nav {
    margin: 20px 0;
}

footer a {
    color: var(--clr-light);
    text-decoration: none;
    margin: 0 10px;
}


