@import url(./variables.css);

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--clr-lightGray);
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.contact-form {
    display: flex;
    background-color: var(--clr-light);
    border-radius: 8px;
    overflow: hidden;
}

.contact-info,
.form {
    padding: 20px;
}

.contact-info {
    background-color: var(--clr-lightGray);
    width: 200px;
}

.form {
    background-color: var(--clr-darkBlue);
    color: var(--clr-light);
    width: 300px;

}

.form input,
.form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 16px;
}

.form input[type="submit"] {
    background-color: var(--clr-main);
    color: var(--clr-light);
    cursor: pointer;
}

.form input[type="submit"]:hover {
    background-color: var(--clr-green);
    transition: 0.5s;

}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    color: var(--clr-darkBlue);
    margin: 0 10px;
    text-decoration: none;
    font-size: 20px;
}