:root {
  --clr-dark: #070a12;
  --clr-light: #ffffff;
  --clr-accent: #e11d48;
  --clr-lightRose: #fb7185;
  --clr-green: #4ade80;
  --clr-sky: #38bdf8;
  --clr-pink: #f472b6;
  --clr-violet: #a78bfa;
  --clr-yellow: #facc15;
  --clr-main: #3498DB;
  --clr-darkBlue: #2C3E50;
}

.container {
  margin-block: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 300px);
  grid-gap: 4em;
}

@media (max-width: 1100px) {
  .container {
    margin-block: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(2, 300px);
    grid-gap: 4em;
  }
}

@media(max-width:763px) {
  .container {
    margin-block: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, 300px);
    grid-template-columns: repeat(1, 300px);
    grid-gap: 4em;
  }

  .clima img {
    display: none;
  }
}

.container :hover {
  background-color: #1ABC9C;
  transition: 0.5s;
  cursor: pointer;
}


.noticias {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  color: var(--clr-dark);
  background-color: var(--clr-main);
  font-weight: 500;
  font-size: 1.25rem;
}


.noticias a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--clr-dark);
}

.noticias img {
  display: flex;
  justify-items: center;
  width: 80%;
  margin-left: 28px;
  margin-top: 20px;

}

.clima {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 7vw;
}

.searchBox {
  display: flex;
  justify-content: end;
  background-color: white;
  height: 30px;
  width: 250px;
  padding: 10px;
  border-radius: 40px;
}

.searchBar {
  background: none;
  border: none;
  outline: none;
  font-size: 16px;
}

::-webkit-input-placeholder {
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif
}