.noticia{
    margin-inline: 25vw;
    text-align: center;
}

.noticia img{
    width: 60%;
    height: auto;
}

.artigo{
    font-weight: bold;
}
section{
    background-color: #e2e0e0;
}