:root {
    --clr-dark: #070a12;
    --clr-darkGray: #333;
    --clr-light: #ffffff;
    --clr-lightGray: #f0f0f0;
    --clr-accent: #e11d48;
    --clr-lightRose: #fb7185;
    --clr-green: #1ABC9C;
    --clr-sky: #38bdf8;
    --clr-pink: #f472b6;
    --clr-violet: #a78bfa;
    --clr-yellow: #facc15;
    --clr-main: #3498DB;
    --clr-darkBlue: #2C3E50;
}