:root {
  --clr-dark: #070a12;
  --clr-light: #ffffff;
  --clr-accent: #e11d48;
  --clr-lightRose: #fb7185;
  --clr-green: #4ade80;
  --clr-sky: #38bdf8;
  --clr-pink: #f472b6;
  --clr-violet: #a78bfa;
  --clr-yellow: #facc15;
  --clr-main: #3498DB;
  --clr-darkBlue: #2C3E50;
}

section.hero {
  background: #B2EBF2;
  text-align: center;
  padding: 50px 20px;
  border-bottom: 2px solid var(--clr-main);
}

.container {
  margin-block: 50px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 300px);
  grid-gap: 4em;
}

@media (max-width: 1100px){
  .container{
    margin-block: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 300px);
    grid-template-columns: repeat(2, 300px);
    grid-gap: 4em;
  }
}
@media(max-width:763px){
  .container{
    margin-block: 50px;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(6, 300px);
    grid-template-columns: repeat(1, 300px);
    grid-gap: 4em;
  }
  .clima img{
    display: none;
  }
}

.container :hover{
  background-color: #1ABC9C;
  transition: 0.5s;
  cursor: pointer;
}


.noticias {
  width: 300px;
  height: 300px;
  text-align: center;
  border-radius: 10px;
  color: var(--clr-dark);
  background-color: var(--clr-main);
  font-weight: 500;
  font-size: 1.25rem;
}


.noticias a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: var(--clr-dark);
}

.noticias img{
  display: flex;
  justify-items: center;
  width: 80%;
  margin-left: 28px;
  margin-top: 20px;

}

.btn-leia-mais {
  background-color: var(--clr-darkBlue); 
  color: var(--clr-light);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px; 
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-leia-mais:hover {
  background-color: #1A242F; 
}

.clima{
  display: flex;
  justify-content: center;
  align-items: center;
}